body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
    text-align: center;
}

/* Contenedor de productos */
.productos {
    display: flex;
    flex-wrap: wrap;  /* Permite que los productos pasen a la siguiente línea si no caben */
    justify-content: center; /* Centra los productos horizontalmente */
    gap: 20px; /* Espacio entre los productos */
    padding: 20px;
}

/* Estilos de cada producto */
.producto {
    width: 250px; /* Tamaño uniforme de cada producto */
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.producto img {
    width: 100%; /* Hace que todas las imágenes ocupen el 100% del contenedor */
    height: 200px; /* Tamaño fijo para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    border-radius: 5px;

}

.producto h3 {
    font-size: 18px;
    margin: 10px 0;
}

.producto p {
    font-size: 14px;
    color: #555;
}

.precio {
    font-weight: bold;
    color: #d32f2f;
}

.comprar {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.comprar:hover {
    background-color: #e64a19;
}
.producto img {
    transition: transform 0.3s ease-in-out;
}

.producto:hover img {
    transform: scale(1.1) translateY(-10px);
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Lo mueve a la derecha */
    font-size: 40px;
    background-color: #25D366;
    color: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.whatsapp-icon:hover {
    transform: scale(1.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido */
    gap: 15px; /* Espacio entre el logo y el título */
}

.logo {
    width: 90px; /* Ajusta el tamaño del logo */
    height: auto;
}












